<%
  font_class = {
    sans: "font-sans",
    serif: "font-serif",
    mono: "font-mono",
    last_resort: "font-last-resort"
  }.fetch(@font, "font-sans")
%>
<span class="<%= font_class %>">
  <%= @glyph %>
</span>
